* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  background-image: url(../img/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Verdana, Tahoma, sans-serif;
}

/*  logo and start/How to play buttons */

.logo {
  width: 75%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
}

.logo img {
  width: 130px;
  height: auto;
  border: 5px solid #000C66;
  border-radius: 35px;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.05);
}

.start,
.howTo,
.feedbackPopup,
.howToPlay {
  width: 160px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  background-color: #000C66;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 4.8rem;
  transition: 0.5s;
  border: 4px solid #000C66;
  box-shadow: 0 0 20px #eee;
}

/* Start button and how to play modals styling */

.usernameContainer {
  text-align: center;
  margin-bottom: 1rem;
}

input[type=text] {
  width: 60%;
  padding: 12px 20px;
  margin-top: 16px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.readyToPlay {
  font-weight: bold;
}

.startHow {
  text-align: center;
}

.startHow button {
  margin: 0px !important;
}

.howTo {
  background-color: #231557;
  margin-top: 10px;
  height: 40px;
  width: 40%;
}

.start:hover,
.howToPlay:hover {
  background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 55%, #895cf2 100%);
  background-position: right center;
}

/* Layover background and Heading */

#game-wrapper {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fffdfd89;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.heading {
  margin-bottom: 20px;
}

/* Credit to https://alvarotrigo.com/blog/css-text-animations/ for this text animation */

.animate-character {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Time and Score section */

#timer {
  font-size: 18px;
  text-align: center;
}

.timeScore {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-bottom: 1rem;
}

#clock {
  background-color: white;
  opacity: 0.7;
  padding: 0.4rem 0.7rem;
  border-radius: 1em;
  font-size: 17px;
}

#scoreValue {
  width: 100px;
  padding: 4px;
  font-size: 17px;
  text-align: center;
}

/* Mute/Unmute Button */

#mute {
  display: none;
}

#unmute {
  font-size: 30px !important;
  color: black;
}

.fa-volume-mute {
  font-size: 30px !important;
  color: black;
}

#muteButton {
  width: 60px;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/* Landmark Images */

#landmark {
  text-align: center;
  margin-top: 1.5rem;
  overflow: hidden;
}

#landmark-img {
  width: 450px;
  height: 350px;
  border: solid #231557;
}

/* Answer Options */

.options {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 50px 0;
}

.option {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  background: #231557;
  border: 2px solid transparent;
  border-radius: 18px;
  cursor: pointer;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
 .option:hover {
  font-weight: bold;
  border-color: white;
 }

 .option:focus {
  outline: none; 
  box-shadow: none;
} 

/* Star rating & Feedback section */

.star-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  background-position: center;
  opacity: 0.6;
  padding: 1.5rem 0;
}

.star-wrapper h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-size: 2rem;
  color: #FF4500;
  padding: 1rem 0;
}

.star-rating .star {
  cursor: pointer;
}

.star-rating .star:active {
  opacity: 0;
  animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.star-rating .star:hover {
  transform: scale(1.1);
}


textarea {
  width: 100%;
  max-width: 400px;
  height: 200px;
  background-color: #c3bfbff7;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  resize: none;
}

.btn-group .btn-submit {
  padding: 1.5rem;
  border-radius: .5rem;
  border: 4px solid #050A61;
  outline: none;
  font-size: 17px;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 10px;
  padding: .7em 2em;
  background-size: 200% auto;
  background-position: 100% 0;
  transition: background-position .5s;
  color: white;
  background-image: linear-gradient(100deg, darkmagenta, crimson, orange);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-group .btn-submit:hover {
  background-position: 0 0;
}

.feedbackPopup  {
  margin-top: 3rem;
  width: 120px;
}

#feedbackMsgbx h4, #alertMsgbx h4 {
  padding-top: 2rem;
}

/* Modals & pop-ups styling */

#nextBtn {
  padding: 10px 20px;
  background-color: #eee;
  cursor: pointer;
  font-weight: bold;
  color: black;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

#win-display {
  margin-bottom: 20px;
  font-weight: bold;
}

#timer {
  font-size: 28px;
}

.pop-msg h2 {
  padding: 1rem;
  font-weight: bold;
  font-size: 12px;
}

.howToPlayContainer,
#startbtn-container,
.pop-msg {
  padding: 15px 12px;
}

.howToPlayContainer p {
  font-size: 15px;
  text-align: justify;
  align-content: center;
}

.gotItBtn {
  text-align: center;
  padding-bottom: 1.5rem;
}

.modalTitle {
  text-align: center;
  font-size: 15px;
}

#pop-up-start,
#restart {
  text-align: center;
  color: #fff;
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  background: #231557;
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  margin-top: 2rem;
}

#restart {
  margin: 1.3rem 0;
}

#popupContainer {
  height: 1024px;
  width: 100%;
  opacity: .75;
  background: #B8B8B8;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 990
}

#startPopup,
#scorePopup,
#howToPlayPopup,
#usernamePopup,
#feedbackPopup,
#alertPopup
 {
  display: none;
  opacity: .75;
  background: #B8B8B8;
  position: fixed;
  left: 0px;
  top: 0px;
  height: auto;
  width: 100%;
  z-index: 990;
  border: 4px solid white;
  overflow-y: auto;
  top: 0;
  left: 0;
  background-color: rgba(130, 53, 129, 0.553);
}

#startMsgbx,
#scoreMsgbx,
#howToPlayMsgbx,
#usernameMsgbox {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 40%;
  max-width: 500px;
  background-color: #189AB4;
  border: 2px solid #D4F1F4;
  box-shadow: 3px 3px 7px #777;
  border-radius: 20px;
  z-index: 999;
  padding: 12px;
  overflow-y: auto;
}

#feedbackMsgbx, #alertMsgbx {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  height: 200px;
  background-color: #189AB4;
  border: 2px solid #D4F1F4;
  box-shadow: 3px 3px 7px #777;
  border-radius: 22px;
  z-index: 999;
  padding: 20px;
  overflow-y: auto;
  text-align: center
}

/* add animation to the popup */
@keyframes popup {
  from {
    transform: scale(0.1);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.score,
.question {
  margin-bottom: 10px;
}

.score {
  font-weight: bold;
  color: white;
}

.question {
  font-style: italic;
}

.displayPop,
.displayHowToPlay {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: red;
}

/* Footer Section */

#footer {
  width: 75%;
  margin: auto;
  height: 42px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #00A8A8;
  padding: 1rem 0;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons a:hover {
  background-color: #FFFFFF;
  transform: scale(1.2);
}

.social-icons:focus {
  outline: none; 
  box-shadow: none;
}

.linkedin-icon i,
.instagram-icon i,
.github-icon i {
  font-size: 30px;
  padding: 0 8px;
}
 /* Mobile Styles */

#desktop {
  display: flex;
}

#mobile {
  display: none;
}

.gameScore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.gameScore>div {
  text-align: center;
}

#message {
  text-align: center;
}

#error,
#feedbackError,
#ratingError {
  color: red;
}

.gameScore h4 {
  padding: 2%;
  line-height: 26px;
}

.logoMobile {
  display: none;
}

/* 404 page styling */
#body-404 {
  background: #00A8A8;
  background: linear-gradient(90deg, #43d2ef 0%, rgba(42,41,41,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-404 {
  background-color: #fffdfd89;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#heading404 {
  font-size: 4em;
  margin-bottom: 10px;
  color: #333;
}

#heading404 p {
  font-size: 1.2em;
  color: #666;
}

#heading404 a {
  color: #007bff;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  
  /* Adjustments for tablets */

  body {
    overflow-x: hidden;
  }

  #desktop {
    display: none;
  }

  #mobile {
    display: flex;
  }

  .logo img {
    max-width: 80%;
    margin: 0 60px;
  }

  .logo button {
    width: 150px;
    margin-bottom: 10px;
  }

  .logo {
    width: 94%;
    margin-top: 0.5rem;
  }

  .logo .start .howToPlay {
    margin: 5px auto;
    padding-top: 2rem;
  }

  .start,
  .howToPlay {
    width: 100px;
    height: 50px;
  }

  .animate-character {
    font-size: 8vmin;
  }

  .timercontainer {
    width: 90%;
  }

  .options {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .option {
    margin: 10px 0;
    width: 60%;
  }

  #game-wrapper {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .star-wrapper h3 {
    font-size: 16px;
  }

  .star-rating {
    font-size: 2rem;
  }

  textarea {
    max-width: 400px;
    height: 200px;
  }

  #startMsgbx,
  #scoreMsgbx,
  #howToPlayMsgbx,
  #usernameMsgbox {
    width: 90%;
    height: auto;
  }

  #footer{
    width: 100%;
  }
}

/* Media Queries - Adjustments for mobile devices */

@media only screen and (max-width: 576px) {

  .logo {
    width: 94%;
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 110px;
    max-width: 95%;
    margin: 0 30px;
    height: auto;
  }

  .logo button {
    max-width: 100%;
    width: 225px;
    height: 50px;
  }

  .animate-character {
    font-size: 8vmin;
  }

  .start,
  .howToPlay {
    width: 100%;
    max-width: 150px;
    font-size: 12px;
  }

  #landmark-img {
    width: 400px;
    height: 300px;
  }

  .options {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .option {
    margin: 5px 0;
    width: 75%;
  }

  .option:focus {
    outline: none; 
    box-shadow: none;
  } 

  .timercontainer {
    width: 100%;
  }

  .star-wrapper h3 {
    font-size: 14px;
  }

  .star-rating {
    font-size: 1.3rem;
  }

  textarea {
    max-width: 250px;
    font-size: 14px;
  }

  #startMsgbx,
  #scoreMsgbx,
  #howToPlayMsgbx,
  #usernameMsgbox {
    width: 95%;
    height: auto;
  }

}

@media only screen and (max-width: 400px) {
  .logo {
    display: none;
  }

  .logoMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logoMobile img {
    width: 95px;
    max-width: 100%;
    height: 95px;
    margin-top: 1rem;
    border: 5px solid #000C66;
    border-radius: 30px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  }

  .timeScore {
    justify-content: space-evenly;
    gap: 2.5rem;
  }

  .mobileBtn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .mobileBtn .start {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: 1.5px solid #231557;
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 120px;
    color: #231557;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  }

  .mobileBtn .howToPlay {
    height: 50px;
    width: 120px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  }

  .start,
  .howTo,
  .howToPlay {
    margin-top: 0.8rem;
  }

  .animate-character {
    font-size: 7vmin;
  }

  .option:focus {
    outline: none; 
    box-shadow: none;
  } 

  #feedbackText {
    width: 255px;
    height: 200px;
  }
}